@import url('https://fonts.googleapis.com/css?family=Alike|Anton|Barlow+Condensed:400,700,900|Berkshire+Swash|Cookie|Courgette|Crete+Round|Damion|Dancing+Script|EB+Garamond|Fjalla+One|Grand+Hotel|Great+Vibes|Harmattan|Heebo:400,700,900|Hind|Kaushan+Script|Libre+Baskerville|Maven+Pro:400,700|Niconne|Noto+Serif|Pacifico|Pridi:400,700|Raleway:400,700|Russo+One|Sacramento|Sanchez|Satisfy|Slabo+27px|Zilla+Slab:400,700');

html,
body {
    width: 100%;
    height: 100%;
}


.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    -webkit-transform: translate3d(0, -50px, 0);
    -ms-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);

    -webkit-transition: -webkit-transform .5s ease-out;
    -ms-transition: -webkit-transform .5s ease-out;
    transition: transform .5s ease-out;
}

.pace.pace-active {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.pace .pace-progress {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 10px;
    background: #16c05a;

    pointer-events: none;
}



// OVERIDES
.autocomplete-content{
    img{
        display: none;
    }
}
.preloader-wrapper {
    display: none;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: rgb(34, 218, 117);
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: rgb(9, 143, 69);
}

.switch label .lever {
    content: "";
    display: inline-block;
    position: relative;
    width: 36px;
    height: 14px;
    background-color: rgb(34, 218, 117);
    border-radius: 15px;
    margin-right: 10px;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
    vertical-align: middle;
    margin: 0 16px;
}

.switch label .lever:after {
    background-color: rgb(9, 143, 69);
    -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

nav {
    background: #086b23;
    background: linear-gradient(90deg, rgba(15, 177, 59, 1) 0%, rgba(8, 107, 35, 1) 100%);

    .nav-wrapper {
        .breadcrumbWrap {
            margin-left: 310px;

            .breadcrumb {
                font-size: 14px;
            }
        }
        sup.notificationCount{
            width: 30px; 
            height: 30px; 
            display: inline-flex; 
            justify-content: center; 
            align-items: center; 
            border-radius: 50%;
        }
        form{
            .input-field {
                .select-wrapper{
                    // border:2px solid #fff!important;
                    margin:0;
                    input{
                        border:none;
                        margin:10px 0 0 0;
                        color:#fff;
                        text-align: center;
                    }
                    .caret{
                        fill:#fff;
                    }
                }
            }
        }
    }

    .logOutBtn {
        width: 100%;
        height: 100%;
        // border:1px solid red;
        display: flex;
        margin-left: 12px;

        a {
            width: 100%;
            height: 100%;
            display: flex;

            &:hover {
                background: rgba($color: #000000, $alpha: 0.1);
            }

            i {
                margin-left: 0;
            }
        }
    }
}

.sidenav.sidenav-fixed {
    background: rgba(8, 107, 35, 1);
    background: linear-gradient(60deg, rgba(8, 107, 35, 1) 0%, rgba(15, 177, 59, 1) 100%);
    .collapsible-body li a {
        padding: 0 23.5px 0 94px;
    }
}

.sidenav .collapsible-body {
    background: rgba(8, 107, 35, 1);

    li a {
        padding: 0 23.5px 0 94px;
    }

    ul>li.active {
        background: rgba($color: #000000, $alpha: 0.1) !important;
    }

    ul>li.activeCollape {
        background: rgba($color: #000000, $alpha: 0.1) !important;
    }
}

.sidenav li>a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.sidenav li.active {
    background-color: rgba(0, 0, 0, 0.1);
}

.sidenav li.activeCollape {
    background-color: rgba(0, 0, 0, 0.1);
}

.sidenav li>a {
    color: #fff;
}

.sidenav li>a>i.material-icons {
    color: #fff;
}

.sidenav .user-view .circle {
    height: 120px;
    width: 120px;
}

table {
    tbody {
        tr {
            td {

                .delete {
                    color: red;
                }

                .edit {}

                .recieptBtn {
                    color: green;
                }
            }
        }
    }
}


// HOME TEMP AND LOGIN LOGOUT STYLES
.wrapper {
    width: 100%;
    height: 100%;
    background: rgba($color: #fff, $alpha: 1);
    margin: 0;
    padding: 0;

    .contentWrap {
        height: 100%;
        margin: 0;
        background-image: url('/storage/futuristic.png');
        background-size: cover;
        height: 100%;
        padding: 0;

        .contentContainer {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            background: rgba(255, 255, 255, 0.4);
            background: linear-gradient(90deg, rgba(8, 107, 35, 0.9) 0%, rgba(15, 177, 59, 0.9) 100%);

            header {
                width: 100%;
                margin-bottom: 100px;

                nav {
                    background: transparent;
                    box-shadow: none !important;

                    .btn.btn,
                    .btn-large,
                    .btn-small,
                    .btn-flat {
                        border: 2px solid #fff;
                        border-radius: 4px;
                        height: auto !important;
                    }
                }
            }

            .logoArea {
                width: 300px;
                height: auto;
                // border-radius: 50%;
                // border: 8px solid rgba(255, 255, 255, 1);
                // background: linear-gradient(60deg, rgba(8, 107, 35, 0.9) 0%, rgba(15, 177, 59, 0.9) 100%);
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 80%;
                }
            }

            .businessName {
                width: 80%;

                h3 {
                    font-weight: 700;
                    font-size: 50px;
                    color: #fff;
                    text-shadow: 1px 1px 4px rgba($color: #000000, $alpha: 0.4);
                }
            }

            .subTitle {
                padding: 20px 30px;
                background: #fff;
                border-radius: 3px;

                h6 {
                    margin: 0;
                    padding: 0;
                    font-family: calibri, sans-serif, Tahoma, Verdana, Geneva;
                    font-size: 20px;
                    color: rgb(148, 20, 20);
                }
            }

            .MainsubTitle {
                padding: 0px 30px 30px 30px;
                // background: #fff;
                border-radius: 3px;

                h6 {
                    margin: 0;
                    padding: 0;
                    font-family: calibri, sans-serif, Tahoma, Verdana, Geneva;
                    font-size: 20px;
                    color: #fff;
                }
            }
        }
    }

    .leftPane {
        height: 100%;
        margin: 0;
        background-image: url('/storage/futuristic.png');
        background-size: cover;
        height: 100%;
        padding: 0;

        .leftContainer {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: rgba(255, 255, 255, 0.4);
            background: linear-gradient(90deg, rgba(8, 107, 35, 0.9) 0%, rgba(15, 177, 59, 0.9) 100%);

            .logoArea {
                width: 300px;
                height: auto;
                // border-radius: 50%;
                // border: 8px solid rgba(255, 255, 255, 1);
                // background: linear-gradient(60deg, rgba(8, 107, 35, 0.9) 0%, rgba(15, 177, 59, 0.9) 100%);
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 80%;
                }
            }

            .businessName {
                width: 80%;

                h3 {
                    font-weight: 700;
                    font-size: 50px;
                    color: #fff;
                    text-shadow: 1px 1px 4px rgba($color: #000000, $alpha: 0.4);
                }
            }

            .subTitle {
                padding: 20px 30px;
                background: #fff;
                border-radius: 3px;

                h6 {
                    margin: 0;
                    padding: 0;
                    font-family: calibri, sans-serif, Tahoma, Verdana, Geneva;
                    font-size: 20px;
                    color: rgb(148, 20, 20);
                }
            }

            .MainsubTitle {
                padding: 0px 30px 30px 30px;
                // background: #fff;
                border-radius: 3px;

                h6 {
                    margin: 0;
                    padding: 0;
                    font-family: calibri, sans-serif, Tahoma, Verdana, Geneva;
                    font-size: 20px;
                    color: #fff;
                }
            }
        }
    }

    .rightPane {
        background-color: #fff;
        background-image: url('/storage/bg2.jpg');
        background-size: cover;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .registerBackNav {
            // border: 2px solid red;
            margin: 0;
            position: absolute;
            top: 5px;
            left: 0;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                display: flex;

                .removePrefix {
                    position: static;
                    width: auto;
                }
            }
        }

        .formBox {
            width: 430px;
            height: auto;
            background: rgba($color: #fff, $alpha: 0.6);
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;

            h4 {
                // border: 2px solid red;
                width: 90%;
                margin: 0;
                margin-top: 25px;
            }

            .loginForm {
                padding-top: 20px;
                // border: 2px solid #eee;
                width: 90%;
                margin: 0;
                margin-top: 40px;
                margin-bottom: 40px;
                background: rgba($color: #fff, $alpha: 0.4);

                .row {
                    margin-bottom: 0px;
                }
            }

            .regForm {
                display: flex;
                // border: 2px solid #eee;
                width: 90%;
                margin: 0;
                margin-top: 15px;
                background: rgba($color: #fff, $alpha: 0.4);
                padding-top: 20px;

                .row {
                    margin-bottom: 0px;
                }
            }
        }
    }
}


// DASHBOARD CONTENT AREA
.my-content-wrapper,
.space-for-sidenav {
    padding-left: 300px;
}

.my-content-wrapper {
    position: relative;
    height: calc(100vh - 64px);
    .content-container {
        // border: 6px solid red;
        height: calc(100vh - 114px);
        padding: 5px 10px 0 10px;

        // PROFILE CONTENT START HERE
        .profileWrap {

            // border: 2px solid red;
            .focusArea{
                min-height:530px;
                .picArea{
                    min-height:350px;
                    background-color: #E64C3C;
                    margin-top:10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;
                    padding-bottom: 10px;
                    img{
                        width:150px;
                        height: 150px;
                        border-radius: 50%;
                        // border:4px solid #fff;
                    }
                    p{
                        color: #fff;
                        font-size: 20px;
                        margin:5px 0!important;
                    }
                    .row{
                        width: 92%!important;
                        margin-bottom: 5px;
                        small{
                            color: rgb(53, 13, 9);
                            font-size: 14px;
                        }
                    }
                    .fRow{
                        background-color: #C03B2B;
                        padding: 10px 0;
                        small{
                            color: #fff;
                            font-size: 14px;
                        }
                    }
                    
                }
                .salesMadeArea{
                    min-height:170px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .salesMadeHeading{
                        margin:0;
                        background: #eee;
                        width: 90%!important;
                        padding:10px 0;
                        text-align: center;
                    }
                    .salesMade{
                        margin:0;
                        width: 90%!important;
                        padding:10px 0;
                        text-align: center;
                    }
                }
            }
            .detailsArea{
                // border:2px solid red;
                padding:20px;
                .detailsWrap{
                    .label{
                        font-weight: bold;
                        background: #eee;
                        text-align: center;
                        padding: 6px;
                    }
                    .info{
                        text-align: center;
                        padding: 6px;
                        margin-bottom:20px;
                        .material-placeholder{
                            display: flex;
                            width: 100%;
                            justify-content: center;
                            align-items: center;
                        }
                        img{
                            width:60%;
                        }
                    }
                }
                .file-path-wrapper{
                    display: none!important;
                }
            }
            
        }

        // DASHBOARD CONTENT START
        .stats {
            background: rgba(255, 255, 255, 1);
            margin-bottom: 20px;
            position: sticky;
            top: 63px;

            .stats-inner {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
            }

            .info-box {
                display: block;
                min-height: 90px;
                background: #fff;
                width: 100%;
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
                border-radius: 2px;
                margin-bottom: 12px;
                margin-top: 12px;

                .info-box-icon {
                    border-top-left-radius: 2px;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 2px;
                    display: block;
                    float: left;
                    height: 90px;
                    width: 90px;
                    font-size: 45px;
                    background: rgba(0, 0, 0, 0.2);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .info-box-content {
                    padding: 5px 10px;
                    margin-left: 90px;

                    .progress-description,
                    .info-box-text {
                        display: block;
                        font-size: 14px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .info-box-text {
                        text-transform: uppercase;
                    }

                    .info-box-number {
                        display: block;
                        font-weight: bold;
                        font-size: 18px;
                    }
                }
            }
        }

        .tableWrap {
            padding: 20px;

            &:first-child {
                border-right: 2px solid #eee;
            }
        }

        // DASHBOARD CONTENT END

        // SALES CONTENT START HERE
        .salesWrap {
            position: static;

            .addSaleBtn {
                position: fixed;
                bottom: 10px;
                right: 10px;
            }

            #addSaleDialog {
                .modal-content {
                    padding: 10px 16px 0px 16px;

                    form {
                        .row {
                            margin-bottom: 0;

                            &:first-child {
                                margin-bottom: 25px;
                            }
                        }
                    }

                    button {
                        margin-right: .75rem;
                    }
                }
            }

            .salesHeading {
                // border:2px solid red;
                padding-bottom: 20px;
                padding-top: 20px;
                position: sticky!important;
                top: 64px;
                background: white;
            }

            .salesTable {
                // border-right: 2px solid #eee;
                padding: 10px;
                height: auto;
                .clearOutstanding{
                    cursor: pointer;
                }
            }

            .salesRecieptArea {
                height: 462px;
                position: sticky!important;
                top: 160px;
                display: flex;
                justify-content: flex-end;
                align-items: flex-start;
                padding: 0;

                .reciept {
                    height: 100%;
                    width: 96%;
                    border: 2px solid #eee;
                    display: flex;
                    flex-direction: column;
                    border-bottom-right-radius: 30px;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    .printBtn {
                        position: absolute;
                        top: 6px;
                        right: 6px;
                        color: #000;
                        font-size: 12px;

                        // border:1px solid red;
                        &:hover {
                            cursor: pointer;
                        }
                    }

                    .noReciept {
                        // margin: auto;
                        color: #ddd;
                    }

                    .preloader-wrapper {
                        display: block!important;
                        margin: auto !important;
                    }
                    .recieptTop {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin-bottom: 10px;

                        .logoArea {
                            img {
                                width: 75px;
                            }
                        }

                        .businessName {}

                        .branchAddress {}

                        .recieptTitle {
                            font-size: 12px;
                            margin: 0px;
                        }
                    }

                    .recieptBottom table>tbody>tr>td {
                        padding: 6px 4px;
                        display: table-cell;
                        text-align: left;
                        vertical-align: middle;
                        border-radius: 2px;
                        font-size: 12px;
                    }
                }
            }
        }

        // EXPENSE CONTENT START HERE
        .expenseWrap {

            // border: 2px solid red;
            .expenseHeading {
                padding-bottom: 20px;
            }

            .expenseForm {
                // border-right: 2px solid #eee;
                padding: 10px 40px;
            }

            .expenseTable {
                border-left: 2px solid #eee;
            }
        }

        // STOCK CONTENT START HERE
        .stockWrap {

            // border: 2px solid red;
            .stockHeading {
                padding-bottom: 20px;
            }

            .stockForm {
                // border-right: 2px solid #eee;
                padding: 10px 40px;
            }

            .stockTable {
                border-left: 2px solid #eee;
            }
        }

        // CUSTOMER RECORDS START HERE
        .customersWrap {

            // border: 2px solid red;
            .customersHeading {
                padding-bottom: 20px;
            }

            .customersForm {
                // border-right: 2px solid #eee;
                padding: 10px 40px;
            }

            .customersTable {
                border-left: 0px solid #eee;
            }
        }

        // BUSINESS SETTINGS CONTENT START HERE
        .businessSettingsWrap {

            // border: 2px solid red;
            .businessSettingsHeading {
                padding-bottom: 40px;
            }

            .businessSettingsForms {
                border: 2px solid #eee;
                // padding: 10px 40px;
                .tabs{
                    overflow: hidden;
                }
                .tabs-content{
                    height: 400px!important;
                    overflow-y: auto;
                }
                form{
                    margin-top:20px;
                    .row{
                        &:last-child{
                            margin-bottom: 0px;
                        }
                        .file-path-wrapper{
                            display: none;
                        }
                    }
                }
            }

            .businessSettingsTable {
                // border-left:2px solid #eee;
                table{
                    width:100%;
                }
            }
        }

        // BRANCH SETTINGS CONTENT START HERE
        .branchSettingsWrap {

            // border: 2px solid red;
            .branchSettingsHeading {
                padding-bottom: 40px;
            }

            .branchSettingsForms {
                border-right: 2px solid #eee;
                // padding: 10px 40px;
                form{
                    margin-top:0px;
                    border:none;
                    .row{
                        margin-bottom: 0px;
                    }
                }
            }

            .branchSettingsTable {
                // border-left:2px solid #eee;
                table{
                    width:100%;
                }
            }
        }

        // STAFF SETTINGS CONTENT START HERE
        .staffSettingsWrap {

            // border: 2px solid red;
            .staffSettingsHeading {
                padding-bottom: 40px;
            }

            .staffSettingsForms {
                border: 2px solid #eee;
                padding: 10px 10px 0px 10px;
                form{
                    margin-top:0px;
                    .row{
                        margin-bottom: 0px;
                    }
                    .file-path-wrapper{
                        display: none!important;
                    }
                }
            }

            .staffSettingsTable {
                // border-left:2px solid #eee;
                table{
                    width:100%;
                }
            }
        }
        
    }
    .footer{
        width:100%;
        height: 50px;
        // border:2px solid red;
        background: #fff;
        position: sticky;
        bottom:0;
        text-align:center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}





/*********************************************** OTHER SCREEN SIZES ********************************/



/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {

    html,
    body {
        height: auto;
    }

    .homeNav{
        background: transparent!important;
        background: none!important;
        background-attachment: none!important;
        .sidenav-trigger {
            width: 56px;
            float: left;
            position: relative;
            z-index: 1;
            height: 56px;
            margin: 10px 10px;
            display: flex;
            justify-content: center;
            background: rgb(9, 143, 69);
            border-radius: 50%;
        }
    }

    nav {
        .nav-wrapper {
            .breadcrumbWrap {
                margin-left: 10px;

                .breadcrumb {
                    font-size: 14px;
                }
            }
            sup.notificationCount{
                width: 30px; 
                height: 30px; 
                display: inline-flex; 
                justify-content: center; 
                align-items: center; 
                border-radius: 50%;
            }
            form{
                .input-field {
                    .select-wrapper{
                        // border:2px solid #fff!important;
                        margin:0;
                        input{
                            border:none;
                            margin:0;
                            color:#fff;
                            text-align: center;
                        }
                        .caret{
                            fill:#fff;
                        }
                    }
                }
            }
        }
    }

    .wrapper {
        height: auto;

        .contentWrap {
            height: 100%;
            margin: 0;
            background-image: url('/storage/futuristic.png');
            background-size: cover;
            height: 100%;
            padding: 0;

            .contentContainer {
                height: 100vh;

                header {
                    nav {
                        background: #086b23;
                        background: linear-gradient(90deg, rgba(15, 177, 59, 1) 0%, rgba(8, 107, 35, 1) 100%);
                    }
                }

                .logoArea {

                    img {}
                }

                .businessName {
                    width: 80%;

                    h3 {
                        font-size: 36px;
                    }
                }

                .MainsubTitle {

                    h6 {
                        font-size: 16px;
                    }

                }

                .expenseWrap {

                    // border: 2px solid red;
                    .expenseHeading {
                        padding-bottom: 20px;
                    }

                    .expenseForm {
                        // border-right: 2px solid #eee;
                        padding: 10px 40px;
                    }

                    .expenseTable {
                        border-left: none;
                    }
                }
            }
        }

        .leftPane {
            height: 100vh;

            .leftContainer {
                width: 100%;
                height: 100%;

                .logoArea {
                    img {}
                }

                .businessName {
                    h3 {
                        font-size: 30px;
                    }
                }

                .MainsubTitle {
                    padding: 0px 30px 30px 30px;
                    // background: #fff;
                    border-radius: 3px;

                    h6 {
                        margin: 0;
                        padding: 0;
                        font-family: calibri, sans-serif, Tahoma, Verdana, Geneva;
                        font-size: 16px;
                        color: #fff;
                    }
                }
            }
        }

        .rightPane {
            width: 100%;
            height: 100vh;

            .registerBackNav {
                a {
                    .removePrefix {}
                }
            }

            .formBox {
                h4 {}

                .loginForm {
                    .row {}

                    .RegisterBtn {
                        .removePrefix {}
                    }
                }

                .regForm {
                    .row {}

                    .RegisterBtn {
                        .removePrefix {}
                    }
                }
            }
        }
    }

    #mobile-demo {

        background-color: rgba($color: #000000, $alpha: 0.4);
    }

    
    .my-content-wrapper {
        .content-container {

            // DASHBOARD CONTENT START
            .stats {
                background: rgba(255, 255, 255, 1);
                margin-bottom: 0px;
                position: static;
                top: none;

                .stats-inner {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                }
            }
            .tableWrap {
                :first-child {
                    border-right: none;
                }
            }

            // SALES CONTENT START HERE
            .salesWrap {
                position: static;

                .addSaleBtn {
                    position: fixed;
                    bottom: 10px;
                    right: 10px;
                }

                #addSaleDialog {
                    .modal-content {
                        padding: 10px 16px 0px 16px;

                        form {
                            .row {
                                margin-bottom: 0;

                                &:first-child {
                                    margin-bottom: 25px;
                                }
                            }
                        }

                        button {
                            margin-right: .75rem;
                        }
                    }
                }

                .salesHeading {
                    // border:2px solid red;
                    padding-bottom: 20px;
                    position: static!important;
                    top: none;
                    background: transparent;
                }

                .salesTable {
                    // border-right: 2px solid #eee;
                    padding: 10px;
                    height: auto;
                    .clearOutstanding{
                        cursor: pointer;
                    }
                }

                .salesRecieptArea {
                    height: 462px;
                    position: static!important;
                    top: none;
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-start;
                    padding: 0;

                    .reciept {
                        height: 100%;
                        width: 96%;
                        border: 2px solid #eee;
                        display: flex;
                        flex-direction: column;
                        border-bottom-right-radius: 30px;
                        justify-content: center;
                        align-items: center;
                        position: relative;

                        .printBtn {
                            position: absolute;
                            top: 6px;
                            right: 6px;
                            color: #000;
                            font-size: 12px;

                            // border:1px solid red;
                            &:hover {
                                cursor: pointer;
                            }
                        }

                        .noReciept {
                            // margin: auto;
                            color: #ddd;
                        }

                        .preloader-wrapper {
                            display: block!important;
                            margin: auto !important;
                        }
                        .recieptTop {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin-bottom: 10px;

                            .logoArea {
                                img {
                                    width: 75px;
                                }
                            }

                            .businessName {}

                            .branchAddress {}

                            .recieptTitle {
                                font-size: 12px;
                                margin: 0px;
                            }
                        }

                        .recieptBottom table>tbody>tr>td {
                            padding: 6px 4px;
                            display: table-cell;
                            text-align: left;
                            vertical-align: middle;
                            border-radius: 2px;
                            font-size: 12px;
                        }
                    }
                }
            }

            .expenseWrap {
                .expenseTable {
                    border-left: none;
                }
            }

            // BUSINESS SETTINGS CONTENT START HERE
            .businessSettingsWrap {
                .businessSettingsForms {
                    .tabs-content{
                        height: 800px!important;
                    }
                    form{
                        margin-top:40px;
                        .row{
                            &:last-child{
                                margin-bottom: 0px;
                            }
                            .file-path-wrapper{
                                display: none;
                            }
                        }
                    }
                }

                .businessSettingsTable {
                    table{
                        tbody{
                            tr{
                                td{
                                    width: 25%!important;
                                }
                            }
                        }
                    }
                }
            }
        }
        .footer{
            width:100%;
            height: 50px;
            // border:2px solid red;
            background: #fff;
            position: static;
            bottom:none;
            text-align:center;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}

@media only screen and (max-width: 992px) {

    .my-content-wrapper,
    .space-for-sidenave {
        padding-left: 0;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}
